body{
	font-family: 'Inter', sans-serif;
	margin: 0;
}

.container{
	max-width: 428px;
	margin: 0 auto;
	background-color: rgb(252, 248, 248);
	min-height: 100vh;
}

a{
	text-decoration: none;
}

.header{
	display: flex;
	justify-content: space-evenly;
	color: #fff;
	/* background: linear-gradient(90deg, rgb(138, 167, 234) 0%, rgb(122, 129, 163) 100%); */
	background-color:  #8e8e91;

	padding: 2em 0;
	align-items: center;
}

.contact-search{
	font-size: 1.2em;
	padding:.3em .3em;
	border-radius: 10px;
	border:2px solid rgb(69, 67, 67);
	outline: none;
}


.contacts-library{
	/* background: #313438; */
	background:  rgb(252, 248, 248);
}

.add{
	color: #fff;
	font-size: 1.5em;
}

i{
	color: rgb(23, 22, 22);
	font-size: 1.5em;
}

.contact-name{
	color: rgb(37, 36, 36);
	font-size: 1.2em;
}


ul{
	margin: 0;
	padding: 0;
	width: 100%;
}

hr{
	border: 1px solicontactd #494a4b;

}

.list__item{
	list-style: none;
}

.relationship{
	color: #fff;
	width: 6em;
	text-align: center;
	padding: .4em .5em;
	border-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #6050d4;
}


.contact-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5em;
	transition: 0.3s;
	margin-top: 0.5em;
}

.contact-section:hover{
	background-color: #8e8e91b9;
	opacity: 0.;
}

.text{
	padding-left: 1em;
}